<!-- <div *ngIf="books$ | async as books">
    <bmc-b-course-project-book *ngFor="let book of books" [book]="book">

    </bmc-b-course-project-book>
</div> -->


<!-- <b-carousel [slides]="images"></b-carousel> -->

<!-- <b-carousel [slides]="names" [slidesTempaltes]="namesTemplate"></b-carousel>

<ng-template #namesTemplate let-name let-index="index" let-moshe="navigation">
    <div style="font-size: 30px;">{{name}} {{index}} </div>
    <button (click)="moshe.next()">CLICK HERE TO MOVE NEXT</button>
</ng-template>
 -->

 <form [formGroup]="form">

    <!-- <input formControlName="name"> -->
    <b-input formControlName="name" errorMsg="Name is required" [required]="true" label="Name:"></b-input>
    <b-input formControlName="password" 
    pattern="^[a-zA-Z ]*$" errorMsg="Name is not in the right format"></b-input>

    <b-button (click)="submit()" text="SUBMIT"></b-button>

 </form>

